*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  height: 100px;
  background-color: blue;
}

main{
  height: calc(100vh - 200px);
  background-color: chartreuse;
}

footer{
  height: 100px;
  background-color: brown;
}